*, body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(50%);

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.17 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 16px;
  border-radius: 8px;
}

.test a { 
  padding: 8px 16px;
  border: none;
  background-color: greenyellow;
  color: black;
  font-weight: 700;
  text-decoration: none;
}